<h1>Cocktails#index</h1>
<p>Here are your cocktails</p>
<li>
<% @cocktails.each do |cocktail| %>
<%= cocktail.name %>
<% end %>
</li>
<br>
<%= link_to 'New cocktail', new_cocktail_path, class: 'btn btn-primary' %>
